.profile__avatar-button {
        position: absolute;
        background-color: #000;
        background-repeat: no-repeat;
        border-radius: 50%;
        border: none;
        background-size: cover;
        background-position: 50%;
        width: 120px;
        height: 120px;
        opacity: 0;
        background-image: url(../../../image/Vector.svg);
    }
    
    .profile__avatar-button:hover {
        background-size: 26px;
        cursor: pointer;
        opacity: .8;
        transition: opacity 0.3s ease-in-out;
    }
    
    @media screen and (max-width: 936px) {
        .profile__avatar-button {
        align-self: self-start;
        }
    }
