.header__img {
    width: 142px;
    height: 33px;
    padding-bottom: 41px;
}

@media screen and (max-width: 880px) {
    .header__img {
        padding-left: 27px;
    }
}

@media screen and (max-width:767px) {
    .header__img {
        width: 104px;
        height: 25px;
        padding-bottom: 32px;
    }
}