.header__img {
    display: block;
    width: 142px;
    height: 33px;
    padding-bottom: 41px;
}

@media screen and (max-width: 880px) {
    .header__img {
        padding-left: 27px;
    }
}

@media screen and (max-width:767px) {
    .header__img {
        height: 26px;
        padding-bottom: 31px;
        width: 110px;
    }
}