.profile__add-button {
    height: 50px;
    width: 100%;
    display: flex;
    align-self: center;
    border: 2px solid #fff;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 0;
}

@media screen and (max-width:620px) {
    .profile__add-button  {
      width: 100%; 
    }
}