.elements__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2 ,1fr);
    margin: 0;
    padding: 0;
    gap: 20px 17px;
}

@media screen and (max-width:767px) {
    .elements__content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 540px) {
    .elements__content {
        grid-template-columns: 1fr;
    }
}