.container__content-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 0;
    gap: 20px 17px;
    list-style-type: none;
}

@media screen and (max-width:920px) {
    .container__content-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 620px) {
    .container__content-list {
        grid-template-columns: 1fr;
    }
}